sudo: false
language: python
python: "3.4"
addons:
  firefox: "37.0.1"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
env:
  matrix:
    - TESTENV=linters
    - TESTENV=py27
    - TESTENV=py27-xdist
    - TESTENV=py27-pytest-latest
    - TESTENV=py34
    - TESTENV=coveralls
install:
  - pip install tox
script: tox -e $TESTENV
branches:
  except:
    - /^\d/
notifications:
  email:
  - bubenkoff@gmail.com
